<p id="notice"><%= notice %></p>

<h1 class="text-primary">Listado de Productos</h1>

<table class="table table-hover">
  <thead class="text-center bg-primary">
    <tr class="text-center">
      <th class="text-center">Picture</th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Descripción</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Cantidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag product.picture, width: '50' %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.price, precision: 0 %></td>
        <td><%= product.quantity %></td>
        <td><%= link_to 'Editar', edit_admin_product_path(product) %></td>
        <td><%= link_to 'Borrar', admin_product_path(product), method: :delete,
                        data: { confirm: 'Estás seguro que deseas borrar este producto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="button" class="btn btn-success text-white"><%= link_to 'Nuevo Producto', new_admin_product_path %></button>
