<p id="notice"><%= notice %></p>

<h1 class="text-primary">Listado de Productos</h1>

<div class="card">
<ul>
  <% @products.each do |product| %>
    <li>
      <h3><%= product.name %></h3>
      <%= link_to image_tag(product.picture, width: '200'), product %>
      <%= number_to_currency product.price, precision: 0 %>
      <%= link_to 'Detalle', product %></li>
  <% end %>
</ul>
<p>
  <button type="button" class="btn btn-success text-white"><%= link_to 'New Product', new_product_path %></button>
</p>
</div>

